rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  	match /notes/{noteId} {
    	allow create: if request.auth != null && request.auth.uid == request.resource.data.noteAuthorUid;
      allow read, update, delete: if request.auth != null && request.auth.uid == resource.data.noteAuthorUid;
    }
  }
}